<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">

<head>

  <title>AGREGAR EDITAR LIBRO</title>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <!--    <meta http-equiv="x-ua-compatible" content="">-->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">




</head>
<body>

<div class="container">
  <div class="card">
    <div class="card-body">

      <p>Introduce los datos</p>
      <form action="/rest/addBook" method="post"  th:object="${book}">
        <!--<form action="/crea1" method="post"  th:object="${formData}">-->
        <p>Nombre libro: <input type="text" th:field="${book.name}" /></p>
        <p>Descripcion: <input type="text" th:field="${book.desciption}" /></p>
        <p>Precio libro: <input type="text" th:field="${book.price}" /></p>

        <p><input type="submit" class="btn btn-primary" value="Submit"> <input type="reset" value="Reset"></p>

               <a href="/pages">LINK A OTRA PAGINA</a>

      </form>

    </div>
  </div>
</div>

</body>
</html>